<ion-header>
  <ion-navbar>
    <ion-title>
      History
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="more()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="balance">
    <h6>Balance</h6>
    <h1><s>N</s>20,000</h1>
  </div>

  <ion-card padding class="form">
    <ion-row>
      <ion-col col-4>
        <select name="" id="">
          <option value="1">Credit</option>
          <option value="0">Debit</option>
        </select>
      </ion-col>
      <ion-col col-8>
        <input type="number" placeholder="Enter amount" style="padding: 10px;">
      </ion-col>
    </ion-row>
    <button class="ok">Ok</button>
  </ion-card>

  <!-- <ion-card padding *ngFor="let item of items" class="trans">
    <p>December 21, 2018</p>
    <h1><s>N</s>20,000</h1>
    <button ion-button block outline color="secondary">Pending</button>
  </ion-card> -->

  <ion-list padding no-lines>
      <ion-item-sliding *ngFor="let item of items" class="trans">
        <ion-item>
          <div>
            <p style="display: inline">December 21, 2018</p> 
            <span class="type">CREDIT</span>
            <span class="status"><ion-icon name="radio-button-on"></ion-icon></span> 
          </div>  
          <h1><s>N</s>{{item}}</h1>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="danger" icon-only>
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button color="primary" icon-only>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </button>
          <button ion-button color="secondary" icon-only>
            <ion-icon color="light" name="information-circle"></ion-icon>
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
</ion-content>
