page-home {
    .balance{
        background: color($colors, primary);
        color: color($colors, light);
        height: 180px;
        text-align: center;
        padding-top: 20px;
    }

    h1{
        margin-top: 0;
        font-size: 50px;
    }

    .form {
        position: relative;
        top: -35px;
        border-radius: 7px;
    }

    .trans {
        border-left: 5px solid color($colors, secondary);
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    }

    input, select, .ok{
        height: 35px;
        width: 100%;
        border: 1px solid color($colors, primary);
        border-radius: 3px;
    }

    button{
        background: color($colors, primary);
        color: color($colors, light);
    }
}
